{% extends 'base.html' %} {% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
  .rows{
        margin-top: 4%;
        margin-left: 33%;
  }
  h1{
    margin-top: 10%;
  
  }

</style>
<h1 ><b>Profile edit</b></h1>
<div class="rows">

<div class="form-group">
  <div class="col-6">
  <form action="" method="POST" novalidate>
    {% csrf_token %}
     {{form|crispy}}
     <button type="button" class="btn btn-success">Submit</button>
  </form>
  </div>
</div>

</div>
{% endblock %}



