{% extends 'registration/background_image.html' %} {% block content %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 7px;
    font-size: 16px;
    line-height: 25px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 20px;

    text-align: center;
  }
  .h3 {
    text-align: center;
    color: aquamarine;
    margin-top: 30%;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 380px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  }
  .btn {
    color: brown;
    line-height: 25px;
  }
</style>

<form method="POST" class="form-signin">
  {% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Reset password</h1>
  <div class="content">
    <input
      name="email"
      class="form-control"
      placeholder="Email address"
      type="email"
      id="id_email"
      required="true"
    />
    <button class="btn btn-lg btn-primary btn-block" type="submit">
      Send reset email
    </button>
  </div>
</form>

{% endblock %}
